html {
  font-size: 18px;
  user-select: none;
  overscroll-behavior: none;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" , "wght" 400, "GRAD" 0, "opsz" 24;
}

button {
  display: inline-block;
  border: none;

  margin: 0;
  text-decoration: none;

  border-radius: 1rem;

  cursor: pointer;
  text-align: center;

  -webkit-appearance: none;
  -moz-appearance: none;
}
