.multiTimer {
  background-color: white;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 10fr auto;
  height: 100vh;
}

.topButtonRow {
  grid-row: 1;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  
  .stopButton,
  .playButton {
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0.0);
  }
}

.timersSection {
  grid-row: 2;
  flex-grow: 20;

  overflow-y: auto;

  .runningTimers {
    padding: 0.5rem;
    background-color: rgb(211, 211, 211);
    min-height: 3rem;
  }
  .finishedTimers {
    padding: 0.5rem;
    background-color: rgb(240, 240, 240);
    min-height: 3rem;
  }
}

.footer {
  grid-row: 3;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgb(211, 211, 211);

  padding: 0.5rem; 
  .resetButton {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
